# SPDX-License-Identifier: GPL-2.0
# SPDX-FileCopyrightText: Contributors To The `net.splitcells.*` Projects
### Intellji
*.iml
.idea/
.asciidoctorconfig.adoc
### Eclipse
.settings/
.classpath
.project
### Maven ###
target/
### Python
.pydevproject

.vagrant/
.flattened-pom.xml